:root {
  font-family: Consolas monospace;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  stroke: white;

  background-color: #242424;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  display: flex;
}

main {
  display: flex;
}
